---
# Abilita (true) o disabilita (false) la modalità debug per il server IdP
debug: true
# IdP server - host
host: 0.0.0.0
# IdP server - porta
port: 8088
# IdP server - secret key
secret_key: sosecret
# IdP - entity id
entityid: "http://spid-testenv:8088"
# Abilita (true) o disabilita (false) la modalità https per l'IdP
https: false
# Chiave e certificato utilizzati dall'IdP in modalità https (in coppia con il certificato, vedi parametro successivo)
#https_key_file: "path/to/key"
#https_cert_file: "path/to/cert"
# IdP - descrizione
description: Spid Test IdP
# IdP - nome
name: Spid test IdP
# Endpoint del server IdP, suddivisi per funzionalità e binding
# nota: utilizzare path relativi
endpoints:
  single_sign_on_service:
    http-redirect: "/sso/redirect"
    http-post: "/sso/post"
  single_logout_service:
    http-redirect: "/slo/redirect"
    http-post: "/slo/post"
# Chiave e certificato necessari per la firma dei messaggi Spid
key_file: "idp.key"
cert_file: "idp.cert"
# Firma (true) oppure no (false) le Assertion
sign_assertions: true
# Include (true) oppure no (false) l'elemento AttributeStatement nel messaggio di risposta
attribute_statement_on_response: true
# Lista di metadati, relativi ai Sp registrati, necessari per verificare lo scambio di messaggi
# 'local' indica il path ad un file .xml (metadata) raggiungibile localmente dall'IdP
# 'remote' tramite url e certificato indica come ottenere un metadata remoto
# Per ulteriori informazioni seguire le indicazioni qui presenti: https://pysaml2.readthedocs.io/en/latest/howto/config.html#metadata
#metadata:
#  local:
#  - "metadata.xml"
#  remote:
#  - url: "http://spid-sp/metadata/
#    cert: "spid-sp.cert"
