faker==2.0.3
flask==1.0.2
importlib-resources==1.0.1
lxml==4.2.3
pyyaml==5.1
python-codicefiscale==0.3.5

# Needed by python-codicefiscale. v4.0.0 dropped support for
# Python versions < 3.5.
python-slugify<4.0.0

signxml==2.5.2
voluptuous==0.11.5
requests==2.20.0
SQLAlchemy==1.2.12
Flask-SQLAlchemy==2.3.2
Flask-Admin==1.5.1
psycopg2==2.7.5
