<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-italia.min.css')}}">
  <title>{% block title %}{% endblock %} - SPID Test Identity Provider</title>
</head>

<body>
  <div class="it-header-wrapper">
    <div class="it-nav-wrapper">
      <div class="it-header-center-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="it-header-center-content-wrapper">
                <div class="it-brand-wrapper">
                  <a href="/">
                    <img
                      class="spid-logo img-fluid mr-3"
                      style="width: 80px"
                      src="{{ url_for('static', filename='img/spid-logo.svg') }}"
                      alt="spid logo"
                    />
                    <div class="it-brand-text">
                      <h2 class="no_toc">Test Identity Provider</h2>
                      <h3 class="no_toc d-none d-md-block">spid-testenv2</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="it-header-navbar-wrapper">
        <div class="container-flex">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg has-megamenu">
                <button
                  class="custom-navbar-toggler"
                  type="button"
                  aria-controls="nav01"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  data-target="#nav01"
                >
                  <svg class="icon">
                    <use xlink:href="{{ url_for('static', filename='svg/sprite.svg') }}#it-burger"></use>
                  </svg>
                </button>
                <div class="navbar-collapsable" id="nav01" style="display: none;">
                  <div class="overlay" style="display: none;"></div>
                  <div class="close-div sr-only">
                    <button class="btn close-menu" type="button">
                      <span class="it-close"></span>
                      close
                    </button>
                  </div>
                  <div class="menu-wrapper">
                    <ul class="navbar-nav">
                    {% for href, label, endpoint in [('/', 'Home', 'index'),
                                                     ('/users', 'Utenti', 'users'),
                                                     ('/admin', 'Database', 'admin.index')] %}
                      {% if href == '/admin' and not database_ui_enabled %}
                        {% continue %}
                      {% endif %}

                      {% set active %}
                        {% if request.endpoint == endpoint %}active{% endif %}
                      {% endset%}

                      <li class="nav-item {{ active }}">
                        <a class="nav-link {{ active }}" href="{{ href }}">
                          <span>{{ label }}</span>
                          {% if endpoint == request.endpoint %}
                          <span class="sr-only">current</span>
                          {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                    </ul>

                    <ul class="navbar-nav navbar-secondary">
                      <li class="nav-item">
                        <a class="nav-link" href="/metadata">
                          <span>Metadata IdP 🔗</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    {% block content %}
    {% endblock %}
  </div>
  <!-- JS -->
  <script>window.__PUBLIC_PATH__ = "{{ url_for('static', filename='font') }}"</script>
  <script src="{{ url_for('static', filename='js/bootstrap-italia.bundle.min.js') }}"></script>
</body>

</html>
