{% extends 'main_page.html' %}
{% block content %}
<main class="main u-layout u-layout-medium u-layoutCenter">
    <article class="main-bodytext u-padding-all-xl">

        <h1 class="u-text-r-xl u-margin-bottom-l">Autorizzi l'invio dei dati?</h1>
        <h2 class="u-text-r-xs u-lineHeight-l u-color-grey-40 u-textWeight-400">I seguenti dati stanno per essere
            inviati al servizio: <span class="u-color-95">{{destination_service}}</span></h2>
        <ul class="u-margin-bottom-xl u-margin-top-xl">
            {% for attr in attrs %}
            <li class="u-color-grey-60 u-textWeight-600 u-lineHeight-xl u-margin-bottom-xs">{{attr}}</li>
            {% endfor %}
        </ul>
        <form name="make_response" method="post" action="{{action}}">
            <div class="FixedSmall u-padding-top-m u-padding-bottom-m">
                <input type="hidden" name="request_key" value="{{request_key}}" />
                <button type="submit" name="confirm"
                    class="u-padding-all-s u-text-xs u-textWeight-600 u-borderRadius-m u-sizeFull u-btn u-btn-primary u-margin-bottom-xs js-cta">Invia</button>
                <button type="submit" name="delete"
                    class="u-padding-all-s u-text-xs u-textWeight-600 u-borderRadius-m u-sizeFull u-btn u-btn-quaternary">Annulla</button>
            </div>
        </form>

        {% if show_response_options %}
        <div id="spid-message">
            {% for line in lines %}
            <pre class="xml-line">{{line}}</pre>
            {% endfor %}
        </div>
        {% endif %}
    </article>
</main>
{% endblock %}