{% extends 'admin_area_base.html' %}
{% block content %}
    <h3 class="border-bottom mt-2 mb-2 border-italia">Service Provider configurati</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">entityID</th>
        </tr>
      </thead>
      <tbody>
        {% for item in sp_list %}
            <tr>
                <td>
                    {{ item['entityID'] }}
                    <small class="float-right">
                        <mark>loaded from {{ item['location'] }}</mark>
                    </small>
                </td>
           </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
