{% extends 'main_page.html' %}
{% block content %}
<button name="show_response" class="u-padding-all-s u-text-xs u-textWeight-600 u-borderRadius-m u-sizeFull u-btn u-btn-quaternary">Mostra Request</button>
<div id="message">
    {% for line in lines %}
        <pre class="xml-line">{{line}}</pre>
    {% endfor %}
</div>
<h2>Errori di validazione</h2>
{% if errors %}
    <table class="spid-error" border=1>
        <thead>
            <tr>
                <th>Elemento</th>
                <th>Dettagli errore</th>
            </tr>
        </thead>
        <tbody>
            {% for err in errors %}
            <tr>
                <td class="spid-error__elem" id="{{err.path}}">{{err.path}}</td>
                <td>
                    {{err.value}} {{err.message}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $.each($('.spid-error__elem'), function(){
            var id = $(this).attr('id');
            var line = $('.xml-line:contains("<' + id + '")');
            var tag = line[0];
            $(tag).css('background-color', 'red');
        });
    });
</script>
{% endblock %}