{% extends 'main_page.html' %}
{% block content %}
<h2>Errori di validazione</h2>
    <table class="spid-error" border=1>
        <thead>
            <tr>
                <th>Elemento</th>
                <th>Dettagli errore</th>
            </tr>
        </thead>
        <tbody>
            {% for err in errors %}
            <tr>
                <td class="elem">{{err.path}}</td>
                <td>
                    {{err.message}}

                    {% if err.value is not none %}
                    <pre>{{err.value}}</pre>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="message">
        {% for line in lines %}
            <pre class="xml-line">{{line}}</pre>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $.each($('.spid-error .elem'), function(){
            var elem = $(this).text().split(/[\s :]/).slice(-1)[0];
            $('.xml-line:contains("' + elem + '")')
                .css('background-color', 'yellow');
        });
    });
</script>
{% endblock %}