{% extends 'admin_area_base.html' %}
{% block content %}
    <article class="main-bodytext u-padding-all-xl">
        <h1 class="mt-2 mb-5 text-center">Utenti SPID</h1>

        <table class="table table-striped">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>SP</th>
                <th>Attributes</th>
            </tr>
            {% for user, info in users.items() %}
            <tr>
                <td>{{user}}</td>
                <td>{{info.pwd}}</td>
                <td>{{info.sp}}</td>
                <td>
                        {% for attr, value in info.attrs.items() %}
                            {{attr}}: <b>{{value}}</b></br>
                        {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <ul class="u-margin-bottom-xl u-margin-top-xl">
                {% for user, info in users.items() %}
                 <li class="u-color-grey-60 u-textWeight-600 u-lineHeight-xl u-margin-bottom-xs">{{user}}
                        {% for attr, value in info.items() %}
                        {{attr}} - {{value}}<br>
                        {% endfor %}
                 </li>
                {% endfor %}
            </ul>

    </article>
    <article class="main-bodytext u-padding-all-xl">
            <h1 class="mt-2 mb-5 text-center">Crea nuovo utente</h1>
            <form class="Form Form--spaced u-margin-bottom-l" name="add_user" method="post" action="{{action}}">
    
                <h3 class="u-text-r-xs u-lineHeight-l u-color-grey-40 u-textWeight-800">Credenziali</h3>
                <div class="form-group">
                    <input class="form-control"
                           id="username" name="username" minlength="4" type="text" required>
                    <label for="username">
                        Username
                    </label>
                </div>
                <div class="form-group">
                    <input class="form-control"
                           id="password" name="password" minlength="4" type="text" required>
                    <label for="password">
                        Password
                    </label>
                </div>
                <div class="form-group">
                    <select class="form-control" id="service_provider" name="service_provider">
                        <option value>- tutti -</option>
                        {% for sp in sp_list %}
                            <option value="{{sp}}">{{sp}}</option>
                        {% endfor %}
                    </select>
                    <label for="service_provider">
                        Service Provider
                    </label>
                </div>
                <h3 class="u-text-r-xs u-lineHeight-l u-color-grey-40 u-textWeight-800">Attributi Primari</h3>
                {% for attribute in primary_attributes %}
                    <div class="form-group">
                        <input class="form-control"
                               id="{{attribute}}" name="{{attribute}}" aria-required="false" minlength="4" type="text" >
                        <label for="{{attribute}}">
                            {{attribute}}
                        </label>
                    </div>
                {% endfor %}
    
                <h2 class="u-text-r-xs u-lineHeight-l u-color-grey-40 u-textWeight-800">Attributi secondari</h2>
    
                {% for attribute in secondary_attributes %}
                    <div class="form-group">
                        <input class="form-control"
                               id="{{attribute}}" name="{{attribute}}" aria-required="false" minlength="4" type="text" >
                        <label for="{{attribute}}">
                            {{attribute}}
                        </label>
                    </div>
                {% endfor %}
                <div class="">
                    <button type="submit" class="btn btn-primary" >Invia</button>
                    <button type="button" class="btn btn-outline-primary">Annulla</button>
                </div>
            </form>
        </article>
{% endblock %}